:root{
    --nav:#004182; /* dark blue for navbar */
    --blue-heading:#2463EB;
    --bg-light:#fcfbf7 ; /* main blue for headings */
    --dar-text:#0F1629 ; /* dark text */
    --grey-text:#65748B ; /* grey text */
    --white:#FFFFFF;
    --ice-blue:#EDF2FC ; /* light background */
}
html{
    scroll-behavior: smooth;
}
section{
    padding: 100px 10% 80px 10%;
    min-height: 100vh;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--bg-light);
    color: var(--grey-text);
}
/* NAVBAR */
.Navbar{
    height: 80px;
    background-color:var(--nav);
    display: flex;
    justify-content: center;
    align-items: center;
}
#portfolio{
    color: var(--white);
    font-size: 26px;
    font-weight: 1000;
    margin-right: auto;
    padding-left: 20px;
}
.Navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 40px;
}
.Navbar a{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    padding: 14px 20px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}
.Navbar a:hover{
    background-color: var(--ice-blue);
    color: var(--blue-heading);
    border-radius: 4px;
}
/* HOME */
#home{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr;
    background-color: #f5f5f5;
    text-align: start;
}


#greeting{
    margin-top: 150px;
    align-items: start;
    font-size: 4.2rem;
    font-weight: 800;
    color:  var(--dar-text);
}
#small-intro{
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'fira code', monospace;
    color: var(--grey-text);
}
#intro-lines{
    margin-top: 50px;
    font-size: 1.5rem;
    color: var(--grey-text);
}
.buttons {
  margin-top: 45px;
}

.btn {
  display: inline-block;
  padding: 14px 24px;
  height: 55px;
  width: 160px;
  background: var(--blue-heading);
  color: var(--white);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 550;
  margin-right: 10px;
  font-size: 1.1rem;
}

.btn.secondary {
  background: transparent;
  border: 1px solid var(--grey-text);
  color: var(--dar-text);
}
.btn:hover {
    transform: translateY(-3px);
}
.icons{
    margin-top: 8px;
    padding: 20px;
    margin-left: 10px;
    word-spacing: 10px;
}
.icons a{
    color: var(--grey-text);
    font-size: 1.8rem;
    text-decoration: none;
    transition: all 0.3s ease;
}
.icons a:hover{
    color: var(--blue-heading);
    transform: translateY(-7px);
}
#name{
    font-size: 4.2rem;
    font-weight: 700;
    color: var(--blue-heading);
}
.home-animation{
    display: flex;
    align-items: center;
    justify-content: center;
}
dotlottie-player{
    filter: drop-shadow(0 0 20px rgba(59, 130, 246, 0.2));
    transform: scale(1.3);
}
/* ABOUT ME */
#about{
    background-color: var(--bg-light);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}
.about-text{
    padding: 20px;
    text-align: left;
    background-color: #f5f5f5;
    box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.about-text h2{
    margin-top: 15px;
    color: var(--blue-heading);
    margin-bottom: 35px;
    font-size: 2.8rem;
}
.about-text p{
    margin-bottom: 35px;
    color: var(--grey-text);
    font-size: 1.6rem;
    letter-spacing: 0.8px;
    line-height: 1.4;
}
.education{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    background-color: var(--ice-blue);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    
}
.education h2{
    margin: 20px;
    margin-top: 60px;
    font-size: 2.8rem;
    color: var(--blue-heading);
}
.edu-tile{
    padding: 25px;
    border: 1.5px solid var(--grey-text);
    border-radius: 19px;
    box-shadow: 10px 18px 30px rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    height: 210px;
    line-height: 1.7;
    gap: 25px;
}
.header{
    color: var(--dar-text);
    font-weight: 600;
}
.subtext{
    color: var(--grey-text);
    font-weight: 400;
}
.details{
    color: var(--blue-heading);
    font-weight: 200;
}
.edu-tile:hover{
    transform: translateY(-8px);
    border-color: var(--blue-heading);
}
/* SKILLS */
#skills {
    padding: 60px 10%;
    background-color: #fcfcfc;
    min-height: 60vh;
}

.skills-header {
    margin-bottom: 40px;
}

.skills-header h2 {
    font-size: 2.5rem;
    color: var(--dar-text);
    margin-bottom: 10px;
    position: relative;
    padding-left: 40px;
}

.skills-header h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 30px;
    height: 3px;
    background-color: var(--blue-heading);
}

.skills-header p {
    color: var(--grey-text);
    max-width: 600px;
    margin-left: 40px;
    margin-top: 15px;
    font-size: 1.2rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.skill-card {
    background: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 18px;
    padding: 25px;
    height: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.card-title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #1e293b;
}

.symbol {
    color: #3b82f6;
    margin-right: 8px;
    font-family: 'Fira Code', monospace;
}

.skill-item {
    margin-bottom: 15px;
}
.skill-info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 6px;
    color:var(--dar-text);
}
.progress-bar {
    width: 100%;
    height: 6px;
    background-color: var(--bg-light);
    border-radius: 10px;
    overflow: hidden;
}
.progress {
    height: 100%;
    background-color: var(--blue-heading);
    border-radius: 10px;
}
/* PROJECTS */
#projects{
    background-color: var(--bg-light);
    text-align: center;
}
#projects h2{
    color: var(--dar-text);
    margin-bottom: 20px;    
    font-size: 3rem;
}
#projects p{
    color: var(--grey-text);
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 30px;
}
.project-card{
    background-color: var(--white);
    width: 500px;
    height: 550px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.project-card h3{
    color: var(--dar-text);
    font-size: 1.8rem;
    margin-top: 25px;
}
.project-card p{
    margin-top: 10px;
    color: var(--grey-text);
    font-size: 1.4rem;
    padding: 8px;
}
.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
.project-btn{
    width: 120px;
    height: 50px;
    background-color: var(--blue-heading);
    border-radius: 13px;
    margin-bottom: 20px;
}
.project-btn a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
}
.project-btn:hover{
    background-color: var(--nav);

}
.project-pic{
    display: flex;
    justify-content: center;
    padding-top: 130px;
    font-size: 4rem;
    width: 100%;
    height: 280px;
    object-fit: cover;
    background: linear-gradient(#d5d3e1,#a5add0);
}

/* CONTACT ME */
#contact{
    background-color: var(--ice-blue);
    display: flex;
    justify-content: center;
}
.contact-container{
    text-align: center;
    max-width: 800px;
    border-radius: 24px;
    padding: 60px;
    box-shadow:0px 10px 30px rgba(0,0,0,0.05) ;
}
.contact-header h2{
    color: var(--dar-text);
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.contact-header p{
    color: var(--grey-text);
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 35px;
}
.form-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.input-group{
    flex: 1;
    text-align: left;
    margin-bottom: 20px;
}
.input-group label{
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--dar-text);
    margin-bottom: 8px;
}
input,textarea{
    width: 100%;
    padding: 14px 18px;
    border: 1px solid var(--grey-text);
    border-radius: 12px;
    transition: all 0.3s ease ;
    height: 70px;
}
input::placeholder,textarea::placeholder{
    font-size: 19px;
}
.submit-btn{
    height: 60px;
    background-color: var(--blue-heading);
    color: var(--white);
    border-radius: 12px;
    font-size: 1.2rem;

}
.submit-btn:hover{
    background-color: #517bd4;
}
.contact-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.contact-btn button{
    height: 50px;
    width: 50px;
    border-radius: 8px;
    background-color: var(--bg-light);
    border: 0.8px solid var(--grey-text);
}
.contact-btn a{
    padding: 5px;
    font-size: 30px;
    color: var(--grey-text);
}
.contact-btn a:hover{
    color: var(--blue-heading);
}
/* footer */
footer{
    display: flex;
    background-color: var(--white);
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 0.1px solid var(--ice-blue);
}
.footer-content{
    color: var(--grey-text);
    font-size: 1.2rem;
}
.footer-content a{
    text-decoration: none;
    color: var(--grey-text);
}